/* Craft overrides */

#main-container #main #main-content #content-container #content {
  padding: 0;
}

/* Plugin css */

.new-message {
  background: #f8fafc;
  padding: 24px;
}

.new-message .elementselect {
  margin: .5rem 0 0;
}

.messages {
  padding: 24px;
}

.message {
  font-size: 14px;
  margin: 0 0 1rem;
}

.message-container,
.message-inner {
  display: inline-block;
}

.message-body {
  background: #f8fafc;
  min-width: 150px;
  padding: 1rem;
  line-height: 1.5;
  text-align: left;
  border-radius: .25rem;
}

.message-details {
  margin: 0 0 .25rem;
}

.message-user {
  font-weight: 700;
}

.message-photo img {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.message-photo svg {
  width: 50px;
  height: 50px;
  fill: #8795a1;
}

.message-date {
  font-size: 11px;
  color: #8795a1;
  text-align: right;
}

.message.current-user {
  text-align: right;
}

.message.current-user .message-body {
  background: #3490dc;
  color: #fff;
}

.message.current-user .message-date {
  text-align: left;
}
