Hey,<br><br>

A new support ticket has been created.<br><br>

-----<br><br>

(#{{ ticket.id }}) {{ ticket.title }}<br><br>

{% for message in ticket.messages %}
{{ message.content|nl2br }}<br><br>
{% endfor %}

-----<br><br>

<a href="{{ ticket.cpEditUrl }}">View ticket</a>
