{% requireLogin %}

{% set allStatuses = craft.support.ticketStatuses %}

<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Support</title>

  <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="min-h-screen flex flex-col font-sans text-grey-darkest">

  <header class="bg-blue w-full p-4 text-white">
    Support Tickets
  </header>

  <div class="flex-1">
    <div class="flex min-h-full">
      <div class="w-1/4 bg-blue-lightest border-grey-light border-solid border-r">
        <div class="text-xl p-4 border-grey-light border-solid border-b">
          Tickets
        </div>

        <ul class="list-reset text-sm p-4 pb-2 border-grey-light border-solid border-b">
          {% block menuLinks %}{% endblock %}
        </ul>

        <div class="p-4 border-grey-light border-solid border-b">
          <a class="inline-block bg-green hover:bg-green-dark px-4 py-3 text-white no-underline" href="new">New Ticket</a>
        </div>
      </div>
      <div class="flex-grow">

        {% block content %}{% endblock %}

      </div>
    </div>
  </div>

</body>
</html>
