{% macro configWarning(setting) -%}
  {% set setting = '<code>' ~ setting ~ '</code>' %}
  {{ 'This is being overridden by the {setting} config setting in your {file} config file.'|t('support', {
        setting: setting,
        file:    'support.php'
  })|raw }}
{%- endmacro %}

{% macro assetLocationInput(volumeOptions, volumeId, subpath) %}
    {% from "_includes/forms" import select, text %}
    <div class="flex">
        <div>
            {{ select({
                id:      'volumeId',
                name:    'volumeId',
                options: volumeOptions,
                value:   volumeId,
            }) }}
        </div>
        <div class="flex-grow">
            {{ text({
                id:          'volumeSubpath',
                class:       'ltr',
                name:        'settings[volumeSubpath]',
                value:       subpath,
                placeholder: 'path/to/subfolder'
            }) }}
        </div>
    </div>
{% endmacro %}
