{% extends "support/_layouts/settings" %}

{% set fullPageForm = true %}

{% import "_includes/forms" as forms %}
{% import "support/_macros/settings" as macros %}

{% block content %}

  {{ forms.hidden({
      name: 'action',
      value: 'plugins/save-plugin-settings'
  })}}

  {{ forms.hidden({
      name: 'pluginHandle',
      value: pluginHandle
  })}}

  <h2 class="first">Notifications</h2>

  {{ forms.lightswitchField({
      first:    true,
      label:    'Email Notifications'|t,
      id:       'email',
      name:     'settings[email]',
      on:       settings.email,
      disabled: 'email' in overrides,
      warning:  'email' in overrides ? macros.configWarning('email'),
  })}}

  {{ forms.textField({
      first:        true,
      label:        'To Email',
      instructions: 'The email address(es) that ticket notifications will be send to. Separate multiple email addresses with commas.',
      id:          'toEmail',
      name:        'settings[toEmail]',
      placeholder: 'joe.bloggs@email.co.uk, jane.bloggs@email.co.uk',
      value: settings.toEmail,
      disabled:    'toEmail' in overrides,
      warning:     'toEmail' in overrides ? macros.configWarning('toEmail'),
  })}}

{% endblock %}
